LibraryDemo/LibraryDemo/Connected Services/LibraryService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LibraryDemo.DTO" />
  <xs:element name="GetTransactionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibraryDemo.DTO" minOccurs="0" name="GetTransactionTypesResult" nillable="true" type="q1:ArrayOfTransactionTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>